/* Colour scheme: https://coolors.co/6b4b3e-c49e85-ffd6af-f8f4f9-bea7e5 */
.hidden {
  display: none;
}
body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  background-color: #FFFFFF;
}
a {
  color: #007AFF;
  text-decoration: none;
}
main {
  margin: 0 auto;
}
div.view {
  padding: 1rem;
  min-height: 100vh;
}
div.popover-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100;
  background: rgb(0,0,0,0.5);
  padding-top: 3rem;
}
div.popover-view > div {
  background: #FFFFFF;
  min-height: 100vh;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
nav.sheet-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.sheet-actions button {
  background: none;
  font-weight: bold;
  border: none;
  color: #007AFF;

  /* padding: 0.5rem 1rem; */
  /* border-radius: 0.5rem; */
  /* border-width: 0; */
}

header h1 {
  margin: 1rem 0 2rem 0;
  padding: 0;
}
header h3 {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
select,
input,
textarea,
button {
  font-size: inherit;
}
textarea {
  font-size: inherit;
  height: 8rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 0;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
section#recent-notes li {
  padding: 0.5rem 1rem;
  background-color: #FFFFFF;
  list-style-type: none;
  border-radius: 1rem;
  border-width: 0;
}
li:nth-of-type(even) {
  background-color: inherit;
}


div.friend-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
div.friend-grid > div {
  background-color: #FFFFFF;
  border-radius: 1rem;
  border-width: 0;
  text-align: center;
}

div#contact-view {
  background: #EEEEEE;
}
div.contact-details header h2 {
  text-align: center;
  font-size: 2rem;
}

div.notes-list > div {
  padding: 0.75rem 0.75rem 0.75rem 2rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  border-width: 0;
  margin: 0.5rem 0;
}
div.notes-list > div > p {
  margin: 0.25rem 0;
}
