/* Colour scheme: https://coolors.co/6b4b3e-c49e85-ffd6af-f8f4f9-bea7e5 */
.hidden {
  display: none;
}
body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  background-color: #EEEEEE;
}
a {
  color: #007AFF;
  text-decoration: none;
}
main {
  margin: 0 auto;
  padding: 1rem;
}
header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 0 2rem 0;
}
header.title-with-left-link {
  justify-content: space-between;
}
header h1 {
  margin: 1rem 0 0 0;
  padding: 0;
  /* font-size: 1.5rem; */
  /* color: #6B4B3E; */
}
ul {
  padding: 0;
}
select,
input,
textarea,
button {
  font-size: inherit;
}
textarea {
  font-size: inherit;
  height: 8rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 0;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
section#recent-notes li {
  padding: 0.5rem 1rem;
  background-color: #FFFFFF;
  list-style-type: none;
  border-radius: 1rem;
  border-width: 0;
}
li:nth-of-type(even) {
  background-color: inherit;
}
